
# BEGIN WordPress
# დირექტივები (ხაზები) `BEGINWordPress` და` ENDWordPress` შორის დინამიურად წარმოიქმნება და მხოლოდ ის უნდა შეიცვალოს WordPress ფილტრების საშუალებით. ამ მარკერებს შორის მითითებულ დირექტივაში ნებისმიერი ცვლილება იქნება ასახული.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress